<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!--libs-->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <!---google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <form class="newProfile">
        <h3 class="formLabel">Create a new profile</h3>
        <p class="errorText"></p>
        <label for="name" class="labelName">Name:</label>
        <input type="text" name="name" class="inputName">
        <label for="password" class="labelPassword">Password:</label>
        <input type="password" name="password" class="inputPassword">
        <label for="gender" class="labelGender">Gender:</label>
        <select name="gender" class="gender" form="newProfile">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
        <input type="submit" value="Create Profile" class="submitButton">
        <p class="loginText">Already have a profile? <a href="" class="loginTextClick">Login</a></p>
    </form>
</body>
</html>