<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!--libs-->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <!---google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <form class="loginProfile">
        <h3 class="formLabel">Login</h3>
        <p class="invalidLoginText"></p>
        <label for="enterName" class="labelName">Name:</label>
        <input type="text" name="enterName" class="enterName">
        <input type="submit" value="Login" class="submitLoginButton">
        <p class="createText">Don't have a profile? <a href="" class="createTextClick">Create One</a></p>
    </form>
</body>
</html>