<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--libs-->
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!---google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile">
        <h3>Profile Information:</h3>
        <ul>
            <li>
                <p>Name: </p>
                <p class="profileName"></p>
            </li>
            <li>
                <p>Gender: </p>
                <p class="profileGender"></p>
            </li>
            <li>
                <p>Height: </p>
                <p class="profileHeight"></p>
            </li>
            <li>
                <p>Is Hydrated?</p>
                <p class="profileHydrated"></p>
            </li>
            <li>
                <p>Is Breathing?</p>
                <p class="profileBreathing"></p>
            </li>
            <li>
                <p>Is Thicc?</p>
                <p class="profileBooty"></p>
            </li>
            <li><a href="" class="logoutTextClick">Logout</a></li>
        </ul>
    </div>
</body>
</html>